Package: hive-miners-xmrig-new
Version: 0.6-35
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig unified miner for RandomX/Argon2/CN-family algo
