Package: hive-miners-xmrig-amd-hycon
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmrig-amd-hycon-2.7.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - HYCon miner for AMD
