Package: hive-miners-ethminer-ethash-0.19.0-cuda101
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - ETHminer v0.19.0 Release CUDA 10.1
