Package: hive-miners-xmrig-new-randomsfx-5.0.2
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig-RandomSFX v5.0.2 SFX/Safex Cash
