Package: hive-miners-xmr-stak-randomx-1.0.4
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMR-Stak-RX v1.0.4 (free RandomX miner by fireice-uk)
