Package: hive-miners-ccminer-djm34-1.1.21-cuda92
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner ccminer-djm34 v1.1.21 CUDA 9.2
