Package: hive-miners-sgminer-fancyix
Version: 0.6-22
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-sgminer-fancyix-0.7.1.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - SGminer fork from fancyIX
