Package: hive-miners-cryptodredge
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-cryptodredge-0.9.6-cuda100
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
