Package: hive-miners-cryptodredge
Version: 0.6-26
Section: base
Priority: optional
Architecture: all
Depends: libc-ares2, hive-miners-cryptodredge-0.25.1-cuda102
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CryptoDredge
