Package: hive-miners-cryptodredge
Version: 0.6-24
Section: base
Priority: optional
Architecture: all
Depends: libc-ares2, hive-miners-cryptodredge-0.23.0-cuda101
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CryptoDredge
