Package: hive-miners-ccminer-phi-anxmod
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ccminer-phi-anxmod-1.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
