Package: hive-miners-sgminer-djm34
Version: 0.6-06
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-sgminer-djm34-0.1.2
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - SGminer fork by djm34
