Package: hive-miners-sgminer-djm34
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-sgminer-djm34-0.0.6-mtp
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - SGminer fork by djm34
