Package: hive-miners-rhminer
Version: 0.6-04
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-rhminer-2.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - rhminer (RandomHash miner)
