Package: hive-miners-sgminer
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-sgminer-gm-xxx, hive-miners-sgminer-avermore-xxx
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
