Package: hive-miners-xmr-stak-mox
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmr-stak-mox-2.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - xmr-stak fork for MOX Project
