Package: hive-miners-cpuminer-opt-rplant
Version: 0.6-18
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-cpuminer-opt-rplant-5.0.11
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CPUminer-opt fork by rplant
