Package: hive-miners-noncepool-amd-1.27
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - BISmuth miner for AMD platform on noncepool v1.27
