#[[ ! -f /lib/systemd/system/hivex.service ]] && ln -s /hive/etc/hivex.service /lib/systemd/system/hivex.service

[Unit]
Description=Hive X Server

[Service]
Type=simple
ExecStartPre=/bin/rm -f /run/hive/xready
ExecStart=/usr/bin/xinit /hive/etc/xinitrc
ExecStopPost=/bin/rm -f /run/hive/xready
ExecStopPost=/usr/bin/killall -q Xorg
KillMode=process

#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=hive

#StandardOutput=tty
#StandardInput=tty
TTYPath=/dev/tty7


[Install]
WantedBy=multi-user.target
