hive/bminer520/*.log
hive/ccminer/*.log
hive/claymore106/*.log
hive/claymorex112/*.log
hive/claymorez126/*.log
hive/dstm058/*.log
hive/ethminer013/*.log
hive/ewbf034b/*.log
hive/xmr-stak-cpu150/*.log
hive/xmr-stak220/*.log
hive/xmrig244/*.log
