* text=auto !eol
hive/bin/agent -text
hive/bin/agent-screen -text
hive/bin/bminer -text
hive/bin/cache-hive-ip -text
hive/bin/ccminer -text
hive/bin/ccminer-update -text
hive/bin/claymore -text
hive/bin/claymore-on-reboot -text
hive/bin/claymore-x -text
hive/bin/claymore-z -text
hive/bin/colors -text
hive/bin/dstm -text
hive/bin/ethminer -text
hive/bin/ewbf -text
hive/bin/firstrun -text
hive/bin/hello -text
hive/bin/helpme -text
hive/bin/hive -text
hive/bin/hive-console -text
hive/bin/hivex -text
hive/bin/hostname-check -text
hive/bin/human-curl-error -text
hive/bin/message -text
hive/bin/miner -text
hive/bin/motd -text
hive/bin/selfupgrade -text
hive/bin/sgminer-gm -text
hive/bin/wd -text
hive/bin/xmr-stak -text
hive/bin/xmr-stak-cpu -text
hive/bin/xmrig -text
hive/bminer520/LICENSE -text
hive/bminer520/README -text
hive/bminer520/bminer -text svneol=unset#unset
hive/bminer520/bminer.conf -text
hive/bminer520/bminer.sh -text
hive/bminer520/firmware.bin -text
hive/bminer520/mine.sh -text
hive/ccminer/ccminer.sh -text
hive/ccminer/cuda -text
hive/ccminer/cuda-9.0/libcudart.so -text
hive/ccminer/cuda-9.0/libcudart.so.9.0 -text
hive/ccminer/cuda-9.0/libcudart.so.9.0.176 -text svneol=unset#application/x-sharedlib
hive/ccminer/pools.conf -text
hive/claymore106/Data.bin -text
hive/claymore106/Data1a1.bin -text
hive/claymore106/Data1b1.bin -text
hive/claymore106/Data1c1.bin -text
hive/claymore106/Data1d1.bin -text
hive/claymore106/Data1e1.bin -text svneol=unset#application/x-dosexec
hive/claymore106/Data1e2.bin -text
hive/claymore106/Data1g1.bin -text
hive/claymore106/Data1g2.bin -text
hive/claymore106/Data1h1.bin -text
hive/claymore106/Data1i1.bin -text
hive/claymore106/Data3.bin -text
hive/claymore106/History.txt -text
hive/claymore106/License.txt -text
hive/claymore106/Readme!!!.txt -text
hive/claymore106/config.txt -text
hive/claymore106/config_global.txt -text
hive/claymore106/dpools.txt -text
hive/claymore106/epools.txt -text
hive/claymore106/epools.txt.example -text
hive/claymore106/ethdcrminer64 -text svneol=unset#application/x-executable
hive/claymore106/reboot.sh -text
hive/claymore106/start.bash -text
hive/claymorex112/Data1a1.bin -text
hive/claymorex112/Data1b1.bin -text
hive/claymorex112/Data1c1.bin -text
hive/claymorex112/Data1d1.bin -text
hive/claymorex112/Data1e1.bin -text
hive/claymorex112/Data1g1.bin -text
hive/claymorex112/Data1h1.bin -text
hive/claymorex112/Data1i1.bin -text
hive/claymorex112/Data3.bin -text
hive/claymorex112/History.txt -text
hive/claymorex112/License.txt -text
hive/claymorex112/Readme!!!.txt -text
hive/claymorex112/config.txt -text
hive/claymorex112/epools.txt -text
hive/claymorex112/epools.txt.example -text
hive/claymorex112/nsgpucnminer -text svneol=unset#application/x-executable
hive/claymorex112/reboot.sh -text
hive/claymorex112/start.bash -text
hive/claymorez126/Data.bin -text
hive/claymorez126/Data1a1.bin -text
hive/claymorez126/Data1b1.bin -text
hive/claymorez126/Data1c1.bin -text
hive/claymorez126/Data1d1.bin -text
hive/claymorez126/Data1e1.bin -text
hive/claymorez126/Data1g1.bin -text
hive/claymorez126/Data1h1.bin -text
hive/claymorez126/Data1i1.bin -text
hive/claymorez126/Data2.bin -text
hive/claymorez126/Data3.bin -text
hive/claymorez126/History.txt -text
hive/claymorez126/License.txt -text
hive/claymorez126/Readme!!!.txt -text
hive/claymorez126/config.txt -text
hive/claymorez126/epools.txt -text
hive/claymorez126/epools.txt.example -text
hive/claymorez126/reboot.sh -text
hive/claymorez126/start.bash -text
hive/claymorez126/zecminer64 -text svneol=unset#application/x-executable
hive/dstm058/LICENSE -text
hive/dstm058/README -text
hive/dstm058/json-rpc.txt -text
hive/dstm058/zm -text svneol=unset#application/x-executable
hive/dstm058/zm.conf -text
hive/dstm058/zm.sh -text
hive/dstm058/zm.try.sh -text
hive/etc/blacklist-hive.conf -text
hive/etc/crontab.root -text
hive/etc/edid.bin -text
hive/etc/environment -text
hive/etc/hive-config.stub/network/20-ethernet.network -text
hive/etc/hive-config.stub/network/30-wireless.network -text
hive/etc/hive-config.stub/network/README.txt -text
hive/etc/hive-config.stub/network/http_proxy.txt -text
hive/etc/hive-config.stub/network/wifi.txt -text
hive/etc/hive-config.stub/openvpn/README.txt -text
hive/etc/hive-config.stub/rig-config-example.txt -text
hive/etc/hive-config.stub/vnc-password.txt -text
hive/etc/hive-console.service -text
hive/etc/hive-netpre.service -text
hive/etc/hive-watchdog.service -text
hive/etc/hive.service -text
hive/etc/hiverepo.list -text
hive/etc/hivex.service -text
hive/etc/logrotate.d/hive -text
hive/etc/logrotate.d/rsyslog -text
hive/etc/screenrc -text
hive/etc/screenrc.miner -text
hive/etc/systemd-networkd-wait-online.service -text
hive/etc/wpa_supplicant@wlan0.service -text
hive/etc/xinitrc -text
hive/etc/xorg.conf.amd -text
hive/etc/xorg.conf.nvidia -text
hive/etc/xorg.conf.nvidia-big -text
hive/ethminer013/ethminer -text
hive/ethminer013/ethminer.conf -text
hive/ethminer013/ethminer.sh -text
hive/ethminer013/ethminer013 -text svneol=unset#application/x-executable
hive/ewbf034b/Help.txt -text
hive/ewbf034b/miner -text svneol=unset#application/x-executable
hive/ewbf034b/miner.cfg -text
hive/ewbf034b/miner.example.cfg -text
hive/ewbf034b/miner.global.cfg -text
hive/ewbf034b/start.sh -text
hive/opt/esonics/WatchDogUtility/runme.sh -text
hive/opt/esonics/WatchDogUtility/src/usb/__init__.py -text
hive/opt/esonics/WatchDogUtility/src/usb/_debug.py -text
hive/opt/esonics/WatchDogUtility/src/usb/_interop.py -text
hive/opt/esonics/WatchDogUtility/src/usb/_lookup.py -text
hive/opt/esonics/WatchDogUtility/src/usb/_objfinalizer.py -text
hive/opt/esonics/WatchDogUtility/src/usb/backend/__init__.py -text
hive/opt/esonics/WatchDogUtility/src/usb/backend/libusb0.py -text
hive/opt/esonics/WatchDogUtility/src/usb/backend/libusb1.py -text
hive/opt/esonics/WatchDogUtility/src/usb/backend/openusb.py -text
hive/opt/esonics/WatchDogUtility/src/usb/control.py -text
hive/opt/esonics/WatchDogUtility/src/usb/core.py -text
hive/opt/esonics/WatchDogUtility/src/usb/legacy.py -text
hive/opt/esonics/WatchDogUtility/src/usb/libloader.py -text
hive/opt/esonics/WatchDogUtility/src/usb/util.py -text
hive/opt/esonics/WatchDogUtility/src/utility.py -text
hive/opt/esonics/watchdog-esonics.sh -text
hive/opt/opendev/watchdog-opendev -text
hive/opt/opendev/watchdog-opendev.sh -text
hive/opt/watchdoginua/watchdoginua -text svneol=unset#unset
hive/opt/watchdoginua/watchdoginua.sh -text
hive/sbin/amd-info -text
hive/sbin/amd-oc -text
hive/sbin/amd-oc-safe -text
hive/sbin/amd-save-pp_tables -text
hive/sbin/amdcovc -text svneol=unset#application/x-executable
hive/sbin/amdmeminfo -text svneol=unset#application/x-executable
hive/sbin/atiflash -text svneol=unset#application/x-executable
hive/sbin/atiflashall -text
hive/sbin/atiflashlist -text
hive/sbin/clinfo -text svneol=unset#application/x-executable
hive/sbin/ddcopy -text
hive/sbin/dos2unix-safe -text
hive/sbin/gpu-detect -text
hive/sbin/gpu-stats -text
hive/sbin/http_proxy.sh -text
hive/sbin/killcx -text
hive/sbin/logrotate -text
hive/sbin/netpre -text
hive/sbin/nvidia-oc -text
hive/sbin/nvidia-oc-log -text
hive/sbin/nvidia-xorg -text
hive/sbin/openvpn-install -text
hive/sbin/preclone -text
hive/sbin/rocm-smi -text
hive/sbin/sreboot -text
hive/sbin/update-initgrub -text
hive/sbin/wait-online -text
hive/sbin/wifi -text
hive/sbin/wifi-disable -text
hive/sbin/wolfamdctrl -text svneol=unset#application/x-executable
hive/sbin/zerofill -text
hive/sgminer/config_global.json -text
hive/sgminer/example-eth.json -text
hive/sgminer/example.json -text
hive/sgminer/gatelessgate/gatelessgate-0.1.3-pre6b -text svneol=unset#unset
hive/sgminer/gatelessgate/gatelessgate-Ethereum-platform0.sh -text
hive/sgminer/gatelessgate/gatelessgate-Ethereum.conf -text
hive/sgminer/gatelessgate/gatelessgate-Feathercoin-platform0.sh -text
hive/sgminer/gatelessgate/gatelessgate-Feathercoin.conf -text
hive/sgminer/gatelessgate/gatelessgate-Monero-platform0.sh -text
hive/sgminer/gatelessgate/gatelessgate-Monero.conf -text
hive/sgminer/gatelessgate/gatelessgate-Pascal-platform0.sh -text
hive/sgminer/gatelessgate/gatelessgate-Zcash-platform0.sh -text
hive/sgminer/gatelessgate/gatelessgate-Zcash.conf -text
hive/sgminer/gatelessgate/kernel/aes_helper.cl -text
hive/sgminer/gatelessgate/kernel/alexkarnew.cl -text
hive/sgminer/gatelessgate/kernel/alexkarold.cl -text
hive/sgminer/gatelessgate/kernel/animecoin.cl -text
hive/sgminer/gatelessgate/kernel/arebyp.cl -text
hive/sgminer/gatelessgate/kernel/bitblock.cl -text
hive/sgminer/gatelessgate/kernel/bitblockold.cl -text
hive/sgminer/gatelessgate/kernel/blake.cl -text
hive/sgminer/gatelessgate/kernel/blake256.cl -text
hive/sgminer/gatelessgate/kernel/blake256r14.cl -text
hive/sgminer/gatelessgate/kernel/blake256r8.cl -text
hive/sgminer/gatelessgate/kernel/bmw.cl -text
hive/sgminer/gatelessgate/kernel/bmw256.cl -text
hive/sgminer/gatelessgate/kernel/bufius.cl -text
hive/sgminer/gatelessgate/kernel/ckolivas.cl -text
hive/sgminer/gatelessgate/kernel/credits.cl -text
hive/sgminer/gatelessgate/kernel/cryptonight.cl -text
hive/sgminer/gatelessgate/kernel/cubehash.cl -text
hive/sgminer/gatelessgate/kernel/cubehash256.cl -text
hive/sgminer/gatelessgate/kernel/darkcoin-mod.cl -text
hive/sgminer/gatelessgate/kernel/darkcoin.cl -text
hive/sgminer/gatelessgate/kernel/diamond.cl -text
hive/sgminer/gatelessgate/kernel/echo.cl -text
hive/sgminer/gatelessgate/kernel/equihash-zero.cl -text
hive/sgminer/gatelessgate/kernel/equihash.cl -text
hive/sgminer/gatelessgate/kernel/ethash-genoil.cl -text
hive/sgminer/gatelessgate/kernel/ethash-new.cl -text
hive/sgminer/gatelessgate/kernel/ethash.cl -text
hive/sgminer/gatelessgate/kernel/fresh.cl -text
hive/sgminer/gatelessgate/kernel/fugue.cl -text
hive/sgminer/gatelessgate/kernel/fuguecoin.cl -text
hive/sgminer/gatelessgate/kernel/groestl.cl -text
hive/sgminer/gatelessgate/kernel/groestl256.cl -text
hive/sgminer/gatelessgate/kernel/groestlcoin-v1.cl -text
hive/sgminer/gatelessgate/kernel/groestlcoin.cl -text
hive/sgminer/gatelessgate/kernel/hamsi.cl -text
hive/sgminer/gatelessgate/kernel/hamsi_helper.cl -text
hive/sgminer/gatelessgate/kernel/hamsi_helper_big.cl -text
hive/sgminer/gatelessgate/kernel/inkcoin.cl -text
hive/sgminer/gatelessgate/kernel/jh.cl -text
hive/sgminer/gatelessgate/kernel/keccak.cl -text
hive/sgminer/gatelessgate/kernel/keccak1600.cl -text
hive/sgminer/gatelessgate/kernel/luffa.cl -text
hive/sgminer/gatelessgate/kernel/lyra2.cl -text
hive/sgminer/gatelessgate/kernel/lyra2re.cl -text
hive/sgminer/gatelessgate/kernel/lyra2rev2.cl -text
hive/sgminer/gatelessgate/kernel/lyra2v2.cl -text
hive/sgminer/gatelessgate/kernel/marucoin-mod.cl -text
hive/sgminer/gatelessgate/kernel/marucoin-modold.cl -text
hive/sgminer/gatelessgate/kernel/marucoin.cl -text
hive/sgminer/gatelessgate/kernel/maxcoin.cl -text
hive/sgminer/gatelessgate/kernel/myriadcoin-groestl.cl -text
hive/sgminer/gatelessgate/kernel/neoscrypt.cl -text
hive/sgminer/gatelessgate/kernel/panama.cl -text
hive/sgminer/gatelessgate/kernel/pascal.cl -text
hive/sgminer/gatelessgate/kernel/pluck.cl -text
hive/sgminer/gatelessgate/kernel/psw.cl -text
hive/sgminer/gatelessgate/kernel/quarkcoin.cl -text
hive/sgminer/gatelessgate/kernel/qubitcoin.cl -text
hive/sgminer/gatelessgate/kernel/shabal.cl -text
hive/sgminer/gatelessgate/kernel/shavite.cl -text
hive/sgminer/gatelessgate/kernel/sifcoin.cl -text
hive/sgminer/gatelessgate/kernel/simd.cl -text
hive/sgminer/gatelessgate/kernel/skein.cl -text
hive/sgminer/gatelessgate/kernel/skein256.cl -text
hive/sgminer/gatelessgate/kernel/talkcoin-mod.cl -text
hive/sgminer/gatelessgate/kernel/twecoin.cl -text
hive/sgminer/gatelessgate/kernel/vanilla.cl -text
hive/sgminer/gatelessgate/kernel/whirlcoin.cl -text
hive/sgminer/gatelessgate/kernel/whirlpool.cl -text
hive/sgminer/gatelessgate/kernel/whirlpoolx.cl -text
hive/sgminer/gatelessgate/kernel/wolf-aes.cl -text
hive/sgminer/gatelessgate/kernel/wolf-skein.cl -text
hive/sgminer/gatelessgate/kernel/x14.cl -text
hive/sgminer/gatelessgate/kernel/x14old.cl -text
hive/sgminer/gatelessgate/kernel/yescrypt-multi.cl -text
hive/sgminer/gatelessgate/kernel/yescrypt.cl -text
hive/sgminer/gatelessgate/kernel/yescrypt_essential.cl -text
hive/sgminer/gatelessgate/kernel/zuikkis.cl -text
hive/sgminer/gatelessgate/sgminer -text
hive/sgminer/gm/kernel/aes_helper.cl -text
hive/sgminer/gm/kernel/alexkarnew.cl -text
hive/sgminer/gm/kernel/alexkarold.cl -text
hive/sgminer/gm/kernel/animecoin.cl -text
hive/sgminer/gm/kernel/arebyp.cl -text
hive/sgminer/gm/kernel/bitblock.cl -text
hive/sgminer/gm/kernel/bitblockold.cl -text
hive/sgminer/gm/kernel/blake.cl -text
hive/sgminer/gm/kernel/blake256.cl -text
hive/sgminer/gm/kernel/blake256r14.cl -text
hive/sgminer/gm/kernel/blake256r8.cl -text
hive/sgminer/gm/kernel/bmw.cl -text
hive/sgminer/gm/kernel/bmw256.cl -text
hive/sgminer/gm/kernel/bufius.cl -text
hive/sgminer/gm/kernel/ckolivas.cl -text
hive/sgminer/gm/kernel/credits.cl -text
hive/sgminer/gm/kernel/cryptonight.cl -text
hive/sgminer/gm/kernel/cubehash.cl -text
hive/sgminer/gm/kernel/cubehash256.cl -text
hive/sgminer/gm/kernel/darkcoin-mod.cl -text
hive/sgminer/gm/kernel/darkcoin.cl -text
hive/sgminer/gm/kernel/diamond.cl -text
hive/sgminer/gm/kernel/echo.cl -text
hive/sgminer/gm/kernel/equihash-param.h -text
hive/sgminer/gm/kernel/equihash.cl -text
hive/sgminer/gm/kernel/ethash-genoil.cl -text
hive/sgminer/gm/kernel/ethash.cl -text
hive/sgminer/gm/kernel/fresh.cl -text
hive/sgminer/gm/kernel/fugue.cl -text
hive/sgminer/gm/kernel/fuguecoin.cl -text
hive/sgminer/gm/kernel/groestl.cl -text
hive/sgminer/gm/kernel/groestl256.cl -text
hive/sgminer/gm/kernel/groestlcoin-v1.cl -text
hive/sgminer/gm/kernel/groestlcoin.cl -text
hive/sgminer/gm/kernel/hamsi.cl -text
hive/sgminer/gm/kernel/hamsi_helper.cl -text
hive/sgminer/gm/kernel/hamsi_helper_big.cl -text
hive/sgminer/gm/kernel/inkcoin.cl -text
hive/sgminer/gm/kernel/jh.cl -text
hive/sgminer/gm/kernel/keccak.cl -text
hive/sgminer/gm/kernel/keccak1600.cl -text
hive/sgminer/gm/kernel/luffa.cl -text
hive/sgminer/gm/kernel/lyra2.cl -text
hive/sgminer/gm/kernel/lyra2re.cl -text
hive/sgminer/gm/kernel/lyra2rev2.cl -text
hive/sgminer/gm/kernel/lyra2v2.cl -text
hive/sgminer/gm/kernel/marucoin-mod.cl -text
hive/sgminer/gm/kernel/marucoin-modold.cl -text
hive/sgminer/gm/kernel/marucoin.cl -text
hive/sgminer/gm/kernel/maxcoin.cl -text
hive/sgminer/gm/kernel/myriadcoin-groestl.cl -text
hive/sgminer/gm/kernel/neoscrypt.cl -text
hive/sgminer/gm/kernel/panama.cl -text
hive/sgminer/gm/kernel/pluck.cl -text
hive/sgminer/gm/kernel/psw.cl -text
hive/sgminer/gm/kernel/quarkcoin.cl -text
hive/sgminer/gm/kernel/qubitcoin.cl -text
hive/sgminer/gm/kernel/shabal.cl -text
hive/sgminer/gm/kernel/shavite.cl -text
hive/sgminer/gm/kernel/sifcoin.cl -text
hive/sgminer/gm/kernel/simd.cl -text
hive/sgminer/gm/kernel/skein.cl -text
hive/sgminer/gm/kernel/skein256.cl -text
hive/sgminer/gm/kernel/talkcoin-mod.cl -text
hive/sgminer/gm/kernel/twecoin.cl -text
hive/sgminer/gm/kernel/vanilla.cl -text
hive/sgminer/gm/kernel/whirlcoin.cl -text
hive/sgminer/gm/kernel/whirlpool.cl -text
hive/sgminer/gm/kernel/whirlpoolx.cl -text
hive/sgminer/gm/kernel/wolf-aes.cl -text
hive/sgminer/gm/kernel/wolf-skein.cl -text
hive/sgminer/gm/kernel/x14.cl -text
hive/sgminer/gm/kernel/x14old.cl -text
hive/sgminer/gm/kernel/yescrypt-multi.cl -text
hive/sgminer/gm/kernel/yescrypt.cl -text
hive/sgminer/gm/kernel/yescrypt_essential.cl -text
hive/sgminer/gm/kernel/zuikkis.cl -text
hive/sgminer/gm/sgminer -text
hive/sgminer/gm/sgminer-gm-5.5.5 -text svneol=unset#unset
hive/sgminer/nicehash/kernel/aes_helper.cl -text
hive/sgminer/nicehash/kernel/alexkarnew.cl -text
hive/sgminer/nicehash/kernel/alexkarold.cl -text
hive/sgminer/nicehash/kernel/animecoin.cl -text
hive/sgminer/nicehash/kernel/arebyp.cl -text
hive/sgminer/nicehash/kernel/bitblock.cl -text
hive/sgminer/nicehash/kernel/bitblockold.cl -text
hive/sgminer/nicehash/kernel/blake.cl -text
hive/sgminer/nicehash/kernel/blake256.cl -text
hive/sgminer/nicehash/kernel/blake256r14.cl -text
hive/sgminer/nicehash/kernel/blake256r8.cl -text
hive/sgminer/nicehash/kernel/bmw.cl -text
hive/sgminer/nicehash/kernel/bmw256.cl -text
hive/sgminer/nicehash/kernel/bufius.cl -text
hive/sgminer/nicehash/kernel/ckolivas.cl -text
hive/sgminer/nicehash/kernel/credits.cl -text
hive/sgminer/nicehash/kernel/cryptonight.cl -text
hive/sgminer/nicehash/kernel/cubehash.cl -text
hive/sgminer/nicehash/kernel/cubehash256.cl -text
hive/sgminer/nicehash/kernel/darkcoin-mod.cl -text
hive/sgminer/nicehash/kernel/darkcoin.cl -text
hive/sgminer/nicehash/kernel/diamond.cl -text
hive/sgminer/nicehash/kernel/echo.cl -text
hive/sgminer/nicehash/kernel/equihash.cl -text
hive/sgminer/nicehash/kernel/ethash-genoil.cl -text
hive/sgminer/nicehash/kernel/ethash-new.cl -text
hive/sgminer/nicehash/kernel/ethash.cl -text
hive/sgminer/nicehash/kernel/fresh.cl -text
hive/sgminer/nicehash/kernel/fugue.cl -text
hive/sgminer/nicehash/kernel/fuguecoin.cl -text
hive/sgminer/nicehash/kernel/groestl.cl -text
hive/sgminer/nicehash/kernel/groestl256.cl -text
hive/sgminer/nicehash/kernel/groestlcoin-v1.cl -text
hive/sgminer/nicehash/kernel/groestlcoin.cl -text
hive/sgminer/nicehash/kernel/hamsi.cl -text
hive/sgminer/nicehash/kernel/hamsi_helper.cl -text
hive/sgminer/nicehash/kernel/hamsi_helper_big.cl -text
hive/sgminer/nicehash/kernel/inkcoin.cl -text
hive/sgminer/nicehash/kernel/jh.cl -text
hive/sgminer/nicehash/kernel/keccak.cl -text
hive/sgminer/nicehash/kernel/keccak1600.cl -text
hive/sgminer/nicehash/kernel/luffa.cl -text
hive/sgminer/nicehash/kernel/lyra2.cl -text
hive/sgminer/nicehash/kernel/lyra2re.cl -text
hive/sgminer/nicehash/kernel/lyra2rev2.cl -text
hive/sgminer/nicehash/kernel/lyra2v2.cl -text
hive/sgminer/nicehash/kernel/marucoin-mod.cl -text
hive/sgminer/nicehash/kernel/marucoin-modold.cl -text
hive/sgminer/nicehash/kernel/marucoin.cl -text
hive/sgminer/nicehash/kernel/maxcoin.cl -text
hive/sgminer/nicehash/kernel/myriadcoin-groestl.cl -text
hive/sgminer/nicehash/kernel/neoscrypt.cl -text
hive/sgminer/nicehash/kernel/panama.cl -text
hive/sgminer/nicehash/kernel/pluck.cl -text
hive/sgminer/nicehash/kernel/psw.cl -text
hive/sgminer/nicehash/kernel/quarkcoin.cl -text
hive/sgminer/nicehash/kernel/qubitcoin.cl -text
hive/sgminer/nicehash/kernel/shabal.cl -text
hive/sgminer/nicehash/kernel/shavite.cl -text
hive/sgminer/nicehash/kernel/sifcoin.cl -text
hive/sgminer/nicehash/kernel/simd.cl -text
hive/sgminer/nicehash/kernel/skein.cl -text
hive/sgminer/nicehash/kernel/skein256.cl -text
hive/sgminer/nicehash/kernel/talkcoin-mod.cl -text
hive/sgminer/nicehash/kernel/twecoin.cl -text
hive/sgminer/nicehash/kernel/vanilla.cl -text
hive/sgminer/nicehash/kernel/whirlcoin.cl -text
hive/sgminer/nicehash/kernel/whirlpool.cl -text
hive/sgminer/nicehash/kernel/whirlpoolx.cl -text
hive/sgminer/nicehash/kernel/wolf-aes.cl -text
hive/sgminer/nicehash/kernel/wolf-skein.cl -text
hive/sgminer/nicehash/kernel/x14.cl -text
hive/sgminer/nicehash/kernel/x14old.cl -text
hive/sgminer/nicehash/kernel/yescrypt-multi.cl -text
hive/sgminer/nicehash/kernel/yescrypt.cl -text
hive/sgminer/nicehash/kernel/yescrypt_essential.cl -text
hive/sgminer/nicehash/kernel/zuikkis.cl -text
hive/sgminer/nicehash/sgminer -text
hive/sgminer/nicehash/sgminer-gm-nicehash-5.5.5-8 -text svneol=unset#unset
hive/sgminer/phi/kernel/aes_helper.cl -text
hive/sgminer/phi/kernel/alexkarnew.cl -text
hive/sgminer/phi/kernel/alexkarold.cl -text
hive/sgminer/phi/kernel/animecoin.cl -text
hive/sgminer/phi/kernel/arebyp.cl -text
hive/sgminer/phi/kernel/bitblock.cl -text
hive/sgminer/phi/kernel/bitblockold.cl -text
hive/sgminer/phi/kernel/blake.cl -text
hive/sgminer/phi/kernel/blake256.cl -text
hive/sgminer/phi/kernel/blake256r14.cl -text
hive/sgminer/phi/kernel/blake256r8.cl -text
hive/sgminer/phi/kernel/bmw.cl -text
hive/sgminer/phi/kernel/bmw256.cl -text
hive/sgminer/phi/kernel/bufius.cl -text
hive/sgminer/phi/kernel/ckolivas.cl -text
hive/sgminer/phi/kernel/credits.cl -text
hive/sgminer/phi/kernel/cubehash.cl -text
hive/sgminer/phi/kernel/cubehash256.cl -text
hive/sgminer/phi/kernel/darkcoin-mod.cl -text
hive/sgminer/phi/kernel/darkcoin.cl -text
hive/sgminer/phi/kernel/decred.cl -text
hive/sgminer/phi/kernel/diamond.cl -text
hive/sgminer/phi/kernel/echo.cl -text
hive/sgminer/phi/kernel/fresh.cl -text
hive/sgminer/phi/kernel/fugue.cl -text
hive/sgminer/phi/kernel/fuguecoin.cl -text
hive/sgminer/phi/kernel/gost-mod.cl -text
hive/sgminer/phi/kernel/gost.cl -text
hive/sgminer/phi/kernel/groestl.cl -text
hive/sgminer/phi/kernel/groestl256.cl -text
hive/sgminer/phi/kernel/groestlcoin-v1.cl -text
hive/sgminer/phi/kernel/groestlcoin.cl -text
hive/sgminer/phi/kernel/hamsi.cl -text
hive/sgminer/phi/kernel/hamsi_helper.cl -text
hive/sgminer/phi/kernel/hamsi_helper_big.cl -text
hive/sgminer/phi/kernel/inkcoin.cl -text
hive/sgminer/phi/kernel/jh.cl -text
hive/sgminer/phi/kernel/keccak.cl -text
hive/sgminer/phi/kernel/keccak1600.cl -text
hive/sgminer/phi/kernel/lbry.cl -text
hive/sgminer/phi/kernel/luffa.cl -text
hive/sgminer/phi/kernel/lyra2.cl -text
hive/sgminer/phi/kernel/lyra2re.cl -text
hive/sgminer/phi/kernel/lyra2rev2.cl -text
hive/sgminer/phi/kernel/lyra2v2.cl -text
hive/sgminer/phi/kernel/marucoin-mod.cl -text
hive/sgminer/phi/kernel/marucoin-modold.cl -text
hive/sgminer/phi/kernel/marucoin.cl -text
hive/sgminer/phi/kernel/maxcoin.cl -text
hive/sgminer/phi/kernel/myriadcoin-groestl.cl -text
hive/sgminer/phi/kernel/neoscrypt.cl -text
hive/sgminer/phi/kernel/panama.cl -text
hive/sgminer/phi/kernel/pascal.cl -text
hive/sgminer/phi/kernel/phi.cl -text
hive/sgminer/phi/kernel/pluck.cl -text
hive/sgminer/phi/kernel/psw.cl -text
hive/sgminer/phi/kernel/quarkcoin.cl -text
hive/sgminer/phi/kernel/qubitcoin.cl -text
hive/sgminer/phi/kernel/ripemd160.cl -text
hive/sgminer/phi/kernel/sha256.cl -text
hive/sgminer/phi/kernel/shabal.cl -text
hive/sgminer/phi/kernel/shavite.cl -text
hive/sgminer/phi/kernel/sia.cl -text
hive/sgminer/phi/kernel/sibcoin-mod.cl -text
hive/sgminer/phi/kernel/sibcoin.cl -text
hive/sgminer/phi/kernel/sifcoin.cl -text
hive/sgminer/phi/kernel/simd.cl -text
hive/sgminer/phi/kernel/skein.cl -text
hive/sgminer/phi/kernel/skein256.cl -text
hive/sgminer/phi/kernel/talkcoin-mod.cl -text
hive/sgminer/phi/kernel/twecoin.cl -text
hive/sgminer/phi/kernel/vanilla.cl -text
hive/sgminer/phi/kernel/whirlcoin.cl -text
hive/sgminer/phi/kernel/whirlpool.cl -text
hive/sgminer/phi/kernel/whirlpoolx.cl -text
hive/sgminer/phi/kernel/wolf-aes.cl -text
hive/sgminer/phi/kernel/wolf-cubehash.cl -text
hive/sgminer/phi/kernel/wolf-echo.cl -text
hive/sgminer/phi/kernel/wolf-fugue.cl -text
hive/sgminer/phi/kernel/wolf-jh.cl -text
hive/sgminer/phi/kernel/wolf-sha512.cl -text
hive/sgminer/phi/kernel/wolf-skein.cl -text
hive/sgminer/phi/kernel/x14.cl -text
hive/sgminer/phi/kernel/x14old.cl -text
hive/sgminer/phi/kernel/yescrypt-multi.cl -text
hive/sgminer/phi/kernel/yescrypt.cl -text
hive/sgminer/phi/kernel/yescrypt_essential.cl -text
hive/sgminer/phi/kernel/zuikkis.cl -text
hive/sgminer/phi/sgminer -text
hive/sgminer/phi/sgminer-phi-5.6.1 -text svneol=unset#unset
hive/sgminer/sgminer.conf -text
hive/sgminer/sgminer.sh -text
hive/share/images/Honey[!!-~]Bees[!!-~]Wallpaper[!!-~]1920x1080[!!-~]Honey[!!-~]Bees.jpg -text svneol=unset#image/jpeg
hive/share/images/blur-bg-blurred.jpg -text svneol=unset#image/jpeg
hive/share/images/wallpaper-1117546_1920.jpg -text svneol=unset#image/jpeg
hive/share/images/wallpaper.jpg -text
hive/xmr-stak-cpu150/config.txt -text
hive/xmr-stak-cpu150/config_example.txt -text
hive/xmr-stak-cpu150/config_global.txt -text
hive/xmr-stak-cpu150/xmr-stak-cpu -text svneol=unset#application/x-executable
hive/xmr-stak-cpu150/xmr-stak-cpu.sh -text
hive/xmr-stak220/amd.txt -text
hive/xmr-stak220/config.txt -text
hive/xmr-stak220/config_global.json -text
hive/xmr-stak220/cpu.txt -text
hive/xmr-stak220/example.configs/amd.txt -text
hive/xmr-stak220/example.configs/config.txt -text
hive/xmr-stak220/example.configs/cpu.txt -text
hive/xmr-stak220/example.configs/nvidia.txt -text
hive/xmr-stak220/libhwloc.so.5 -text svneol=unset#application/x-sharedlib
hive/xmr-stak220/libhwloc.so.5.6.8 -text svneol=unset#application/x-sharedlib
hive/xmr-stak220/libmicrohttpd.so.10 -text svneol=unset#application/x-sharedlib
hive/xmr-stak220/libmicrohttpd.so.10.34.0 -text svneol=unset#application/x-sharedlib
hive/xmr-stak220/libxmrstak_cuda_backend.so -text svneol=unset#application/x-sharedlib
hive/xmr-stak220/libxmrstak_opencl_backend.so -text svneol=unset#application/x-sharedlib
hive/xmr-stak220/nvidia.txt -text
hive/xmr-stak220/xmr-stak -text svneol=unset#application/x-executable
hive/xmr-stak220/xmr-stak.sh -text
hive/xmrig244/config-example.json -text
hive/xmrig244/config.json -text
hive/xmrig244/config_global.json -text
hive/xmrig244/xmrig -text svneol=unset#application/x-executable
hive/xmrig244/xmrig.sh -text
