Package: hive-miners-xmr-stak-randomx-1.0.1
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - xmr-stak-randomx v1.0.1 (free randomx miner by fireice-uk)
