Package: hive-miners-xpmclient-extremal-ik7-opencl-10.5-beta1
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XPM Miner eXtremal-ik7 OpenCL v10.5-beta1
