Package: hive-miners-sushi-miner-opencl
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-sushi-miner-opencl-2.0.5
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
