Package: hive-miners-xmrig-nvidia-fruityminer
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmrig-nvidia-fruityminer-1.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - uPlexa miner for Nvidia from fruitypool
