Package: hive-miners-ckb-miner
Version: 0.6-04
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ckb-miner-0.21.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - ckb-miner
