Package: hive-miners-ccminer-enemy-2.6.1-cuda100
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - Z-Enemy v2.6.1 CUDA 10.0
