Package: hive-miners-ethminer-serominer-0.3.0-cuda92
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - SeroMiner v0.3.0 CUDA 9.2 + OpenCL
