Package: hive-miners-sgminer-gm-nicehash
Version: 0.6-06
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-sgminer-gm-nicehash-5.5.5-8
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
