Package: hive-miners-xmr-stak-b2n
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmr-stak-b2n-1.2
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - xmr-stak fork for Bitcoin2Network (B2N)
