Package: hive-miners-miniz
Version: 0.6-15
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-miniz-1.5t2-cuda100
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - miniZ
