Package: hive-miners-xmr-stak-fireice-uk-2.10.0
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - xmr-stak v2.10.0 (original by fireice-uk)
