Package: hive-miners-nanominer
Version: 0.6-53
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-nanominer-3.0.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - NanoMiner
