Package: hive-miners-nanominer
Version: 0.6-19
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-nanominer-1.5.2
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - nanominer
