Package: hive-miners-cpuminer-opt-jayddee
Version: 0.6-10
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-cpuminer-opt-jayddee-3.11.5
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CPUminer-opt-JayDDee
