Package: hive-miners-cpuminer-opt-jayddee
Version: 0.6-21
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-cpuminer-opt-jayddee-3.13.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CPUminer-opt-JayDDee
