Package: hive-miners-cryptodredge-0.26.0-cuda112
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CryptoDredge v0.26.0 CUDA 11.2
