Package: hive-miners-ethminer-quarkchain
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ethminer-quarkchain
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - QuarkChain OneButton Ethminer
