Package: hive-miners-cryptodredge-0.19.1-cuda91
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CryptoDredge v0.19.1 CUDA 9.1
