Package: hive-miners-gringoldminer
Version: 0.6-06
Section: base
Priority: optional
Architecture: all
Depends: hive-lib-dotnet, hive-miners-gringoldminer-3.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - GrinGoldMiner
