Package: hive-miners-gringoldminer
Version: 0.6-03
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-gringoldminer-2.8b
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
