Package: hive-miners-ethminer-ethash
Version: 0.6-08
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ethminer-ethash-0.19.0.1-cuda101
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - ETHminer
