Package: hive-miners-ethminer-ethash
Version: 0.6-09
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ethminer-ethash-0.19.0.2-cuda101
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - ETHminer
