Package: hive-miners-noncerpro-cuda
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-noncerpro-cuda-3.2.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
