Package: hive-miners-noncerpro-kadena-2.2.0
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - NoncerPro Kadena Miner v2.2.0
