Package: hive-miners-nheqminer-verushash
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-nheqminer-verushash-0.8.2
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - NHEqMiner Verushash
