Package: hive-miners-noncerpro-kadena-2.0.2-cuda9
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - NoncerPro Kadena Miner v2.0.2 build with CUDA 9
