Package: hive-miners-lolminer
Version: 0.6-26
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-lolminer-0.8.7
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - lolMiner
