Package: hive-miners-xmrig-new-xmrig-6.5.1
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig v6.5.1 + CUDA 10.2 plugin v6.4.1
