Package: hive-miners-xmrig-nvidia-xmrig
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmrig-nvidia-xmrig-2.14.3
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig-Nvidia CUDA miner for cryptonight family algos
