Package: hive-miners-teamredminer
Version: 0.6-62
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-teamredminer-0.8.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - TeamRedMiner
