Package: hive-miners-teamredminer
Version: 0.6-44
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-teamredminer-0.7.10
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - TeamRedMiner
