Package: hive-miners-teamredminer
Version: 0.6-27
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-teamredminer-0.6.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - TeamRedMiner
