Package: hive-miners-xmrig-new-xmrig
Version: 0.6-34
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmrig-new-xmrig-6.5.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig
