Package: hive-miners-xmrig-xmrig
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmrig-xmrig-3.0.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig (for CPU)
