Package: hive-miners-ethminer-ethash-0.19.0.1-cuda111
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - ETHminer v0.19.0.1 CUDA 11.1 with Hicehash fix
