Package: hive-miners-sgminer-gatelessgate
Version: 0.6-06
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-sgminer-gatelessgate-0.1.3-pre6b
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
