Package: hive-miners-ethminer-zilminer
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ethminer-zilminer-0.1.25-cuda92
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
