Package: hive-miners-ethminer-zilminer
Version: 0.6-06
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ethminer-zilminer-0.4.01-cuda100
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - ZILminer
