Package: hive-miners-ethminer-zilminer
Version: 0.6-04
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ethminer-zilminer-0.2.20-cuda92
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - ZILminer
