Package: hive-miners-noncepool-nvidia-1.27
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - Nvidia Bismuth miner v1.27 for/from noncepool
