Package: hive-miners-damominer
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-damominer-2.6.3
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - DamoMiner
