Package: hive-miners-damominer
Version: 0.6-07
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-damominer-2.7.8
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - DamoMiner
