Package: hive-miners-wildrig-multi
Version: 0.6-45
Section: base
Priority: optional
Architecture: all
Depends: libuv1, hive-miners-wildrig-multi-0.19.3
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - WildRig-Multi OpenCL miner
