Package: hive-miners-wildrig-multi
Version: 0.6-10
Section: base
Priority: optional
Architecture: all
Depends: libuv1, hive-miners-wildrig-multi-0.15.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
