Package: hive-miners-wildrig-multi
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: libuv1 hive-miners-wildrig-muilti-0.12.7
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
