Package: hive-miners-ccminer-djm34
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ccminer-djm34-1.1.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
