Package: hive-miners-ccminer-djm34
Version: 0.6-03
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ccminer-djm34-1.1.1-dev
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
