Package: hive-miners-grinminer
Version: 0.6-11
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-grinminer-2.0.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - GrinMiner
