Package: hive-miners-xmrig-nvidia-hycon
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmrig-nvidia-hycon-0.0.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - HYCon miner for Nvidia
