Package: hive-miners-kbminer
Version: 0.6-09
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-kbminer-1.3.10
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - KBminer
