Package: hive-miners-cpuminer-opt-rplant-4.5.11
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CPUminer-opt by rplant v4.5.11
