Package: hive-miners-t-rex-0.14.3-cuda100
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - T-Rex v0.14.3 BETA CUDA 10.0 build
