Package: hive-miners-xmr-stak-fireice-uk-2.8.3
Version: 0.6-04
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - xmr-stak v2.8.3 (original by fireice-uk)
