Package: hive-miners-xmrig-amd
Version: 0.6-07
Section: base
Priority: optional
Architecture: all
Depends: libuv1, hive-miners-xmrig-amd-2.10.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
