Package: hive-miners-grinprominer
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-lib-dotnet, hive-miners-grinprominer-1.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
