Package: hive-miners-grinprominer
Version: 0.6-06
Section: base
Priority: optional
Architecture: all
Depends: hive-lib-dotnet, hive-miners-grinprominer-2.2
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - GrinPro Miner
