Package: hive-miners-xmrig-new-mo-5.11.0
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig v5.11.0 by MoneroOcean pool
