Package: hive-miners-xmrig-amd-xmrigcc
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmrig-amd-xmrigcc-1.9.3
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRigCC-AMD
