# WARNING! Remove "#" characters to enable lines, with "#" they are disabled and will be ignored by miner! Check README for details.

# POOL: ssl://asia1-zcash.flypool.org:3443, WALLET: t1RjQjDbPQ9Syp97DHFyzvgZhcjgLTMwhaq.YourWorker, PSW: z, ALLPOOLS: 0 
# POOL: us-east.equihash-hub.miningpoolhub.com:20570, WALLET: YourLogin.YourWorker, PSW: YourPsw, ALLPOOLS: 0
# POOL: eu1-zcash.flypool.org:3333, WALLET: t1RjQjDbPQ9Syp97DHFyzvgZhcjgLTMwhaq.YourWorker, PSW: z, ALLPOOLS: 0
# POOL: zec-eu1.nanopool.org:6666, WALLET: t1RjQjDbPQ9Syp97DHFyzvgZhcjgLTMwhaq, PSW: z, ALLPOOLS: 0
# POOL: zec.suprnova.cc:2142, WALLET: YourLogin.YourWorker, PSW: YourPsw, ALLPOOLS: 0