Package: hive-miners-ccminer-suprminer
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ccminer-suprminer-1.5
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
