Package: hive-miners-xmr-stak-indeedminers
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmr-stak-indeedminers-2.5.0-beta
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
