Package: hive-miners-smine
Version: 0.6-04
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-smine-0.3.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - S-mine (Spark miner)
