Package: hive-miners-noncerpro-opencl
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-noncerpro-opencl-3.0.2
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
