Package: hive-miners-nq-miner
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-nq-miner-0.99.5
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - nq-miner
