Package: hive-miners-xmrig
Version: 0.6-42
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig CPU miner for Argon2/RandomX/Cryptonight based algos
