Package: hive-miners-xmr-stak
Version: 0.6-21
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmr-stak-fireice-uk-2.10.3
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - xmr-stak
