Package: hive-miners-ccminer-x11k-2.3.2
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CCminer-X11k v2.3.2 (based on tpruvot v2.3.2) CUDA 10.0
