Package: hive-miners-xmrig-xmrigcc
Version: 0.6-05
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmrig-xmrigcc-2.1.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig fork CPU miner for CN-family algos
