Package: hive-miners-sgminer-tecracoin-0.1.4
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - sgminer-tecracoin v0.1.4 (based on djm34 Zcoin Official)
