Package: hive-miners-ccminer-klaust-yescrypt
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ccminer-klaust-yescrypt-8.21-r17-cuda92
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
