Package: hive-miners-xmrig-new-xlarig
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmrig-new-xlarig-5.0.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig-XLA for XLA/Scala
