Package: hive-miners-ethminer-zilminer-0.2.20-cuda92
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - ZILminer v0.2.20 CUDA 9.2
