Package: hive-miners-cpuminer-opt
Version: 0.6-13
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-cpuminer-opt-3.9.5
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CPUminer-opt
