Package: hive-miners-srbminer
Version: 0.6-30
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-srbminer-0.6.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - SRBMiner-Multi CPU & AMD GPU miner
