Package: hive-miners-srbminer
Version: 0.6-26
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-srbminer-0.5.6
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - SRBMiner-Multi CPU & AMD GPU miner
