Package: hive-miners-srbminer
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-srbminer-0.3.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - SRBMiner-MULTI CPU & AMD GPU Miner
