Package: hive-miners-gringoldminer-gringoldminer
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-gringoldminer-gringoldminer-3.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - GrinGoldMiner
