Package: hive-miners-xmr-stak-indeedminers-2.7.1
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - xmr-stak-indeedminers 2.7.1
