Package: hive-miners-cryptodredge-0.20.0-cuda100
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - CryptoDredge v0.20.0 CUDA 10.0
