Package: hive-miners-xmr-stak-randomx
Version: 0.6-02
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmr-stak-randomx-1.0.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - xmr-stak fork for RandomX and variants
