Package: hive-miners-xmr-stak-randomx
Version: 0.6-07
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmr-stak-randomx-1.0.5
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMR-Stak-RX (fork for RandomX and variants)
