Package: hive-miners-noncerpro-kadena
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-noncerpro-kadena-1.0.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
