Package: hive-miners-noncerpro-kadena
Version: 0.6-06
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-noncerpro-kadena-2.0.2
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - NoncerPro Kadena Miner
