Package: hive-miners-ccminer-enemy
Version: 0.6-14
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ccminer-enemy-2.6.1-cuda100
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - Z-Enemy
