Package: hive-miners-ccminer-enemy
Version: 0.6-09
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ccminer-enemy-2.1-cuda92
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - Z-Enemy
