Package: hive-miners-noncepool-nvidia
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-noncepool-nvidia-1.13
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
