Package: hive-miners-xmrig-nvidia
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmrig-nvidia-2.8.0-rc
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
