Package: hive-miners-xmrig-nvidia
Version: 0.6-11
Section: base
Priority: optional
Architecture: all
Depends: libuv1, hive-miners-xmrig-nvidia-2.14.1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
