Package: hive-miners-xmrig-nvidia
Version: 0.6-14
Section: base
Priority: optional
Architecture: all
Depends: libuv1
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - XMRig-Nvidia cryptonight family algos miner for CUDA
