Package: hive-miners-t-rex
Version: 0.6-14
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-t-rex-0.10.2-cuda92
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - T-Rex miner
