Package: hive-miners-t-rex
Version: 0.6-17
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-t-rex-0.12.0-cuda92
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - T-Rex miner
