Package: hive-miners-t-rex
Version: 0.6-46
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-t-rex-0.18.11-cuda100
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - T-Rex miner
