Package: hive-miners-xmr-stak-fireice-uk
Version: 0.6-07
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmr-stak-fireice-uk-2.8.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - xmr-stak by fireice-uk
