Package: hive-miners-xmr-stak-fireice-uk
Version: 0.6-20
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmr-stak-fireice-uk-2.10.6
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - xmr-stak by fireice-uk
