Package: hive-miners-xmr-stak-fireice-uk
Version: 0.6-06
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-xmr-stak-fireice-uk-2.7.0
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
