Package: hive-miners-ethminer-progpow
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ethminer-progpow-0.16-cuda92
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner
