Package: hive-miners-ccminer-tecracoin
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-ccminer-tecracoin-1.2.4-cuda100
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - ccminer-tecracoin (TecraCoin CUDA miner based on djm34-zcoinofficial code)
