Package: hive-miners-phoenixminer
Version: 0.6-16
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-phoenixminer-4.2b
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - Phoenixminer
