Package: hive-miners-phoenixminer
Version: 0.6-35
Section: base
Priority: optional
Architecture: all
Depends: hive-miners-phoenixminer-5.1b
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - PhoenixMiner
