Package: hive-miners-xmrig-nvidia-fruityminer-2.0
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - uPlexa miner for Nvidia v2.0
