Package: hive-miners-xmrig-nvidia-hycon-0.0.1
Version: 0.6-01
Section: base
Priority: optional
Architecture: all
Maintainer: Bee <bee@hiveos.farm>
Description: Hive miner - HYCon Nvidia miner v0.0.1 XMRig fork
